<div class="container height-100">
    <div class="row height-100 justify-content-center align-items-center">
        <div class="col">
            <label class="w-100 text-center">
                Groep ADMB
            </label>
            <label class="w-100 text-center">
                Sint-Clarastraat 48
            </label>
            <label class="w-100 text-center">
                8000 Brugge
            </label>
            <label class="w-100 text-center">
                België
            </label>
            <label class="w-100 text-center">
                +3250474111
            </label>
            <label class="w-100 text-center">
                <a href="e-ok.helpdesk@ADMB.be" type="email">e-ok.helpdesk@ADMB.be</a>
            </label>
        </div>
    </div>
</div>